/*General*/
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 32px auto;
    width: 50%;
}
/*Box*/
.box{
    width: 33%;
    display: inline-block;
    position: relative;
}
.box::after {
    content: "\2665";
    color: gray;
    background-color: lightgray;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}
img{
    position: relative;
    width: 50%;
}
/*Hover*/
.hov{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.hov:hover {
    opacity: 1;
}
/*Sale*/
.sale{
    position: relative;
    top: 10px;
    left: -165px;
    color: white;
    padding: 3px;
}
/*Description*/
.desc{
    margin-top: 20px;
}
h6{
    display: inline;
}
.crossed {
    position: relative;
}
.crossed::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    background: black;
}
/*BgColor*/
.bred{
    background-color: red;
}
.bgreen{
    background-color: green;
}
/*Utilities*/
.uppercase {
    text-transform: uppercase;
  }
.red{
    color: red;
}